.m-label {
  display: flex;
  align-items: center;

  &__body {
    display: flex;
    align-items: center;
    min-width: 100%;
  }

  p {
    font-size: 0.8rem;
  }

  &__point {
    width: 8px;
    height: 8px;
    border-radius: 100%;
    margin-right: 5px;

    svg, i {
      color: transparent;
    }
  }

  &__title {
    min-width: 35%;
    font-family: $fontBook;
  }

  &__value {
    min-width: calc(50% - 10px);
  }

  &__perc {
    width: 15%;
  }
}